# Git
.git
.gitignore

# Python Cache & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# High score local runtime files
highscore.txt

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore
.docker
