# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Game runtime data
highscore.txt

# Docker Image Archives
*.tar

# Environments & IDEs
.env
.venv
env/
venv/
.idea/
.vscode/
*.swp
*.swo
